*~
*.swp
*.lock-wscript
*.vtg
*.vpw*
.gitignore
Makefile
package.json
wscript
Makefile.in
scripts/*
*_la-*
*.la
*.so
*.gz
*.o
.libs/
.deps/
scripts/
build/
test/
!test/*.c
!test/*.h
!test/*.lua
!test/Makefile.am
aclocal.m4
autom4te.cache/
config.h
setup.py
config.log
config.status
cscope.out
libtool
stamp-h
stamp-h1
tags
modules/perl/Build.PL
modules/perl/META*
modules/perl/MYMETA*
modules/perl/OeLinkBin.PL
modules/perl/jacks.pod
modules/perl/example-clients/jacks.pm
modules/python2/example-clients/jacks.py
modules/python3/example-clients/jacks.py


